<div class="pre-form">
  <div class="pre-form__top">
    {{ drupal_block('text_resize_block') }}
    <button class="download">Descargar histórico de visitas</button>
  </div>
</div>
<h1 class="title-statistics">Estadísticas directorio dermatólogos</h1>
<div class="body-statistics">
  <p>Conozca el número de pacientes o personas que han visto en detalle su
  perfil del Directorio dermatólogos. Recuerde que desde la opción
  <a href="/usuario/configuracion">Configuración</a> podrá elegir si aparecer
  en el directorio o no.</p>
  <div class="pre-form__links">
    {{ user_link }}
  </div>
</div>
<div id="statistics">
  <h2 id="year">{{ year_current }}</h2>
  <div id="chart_div"></div>
  <div class="info-wrapper">
    <div class="info">
      <span class="label">Total visitas en {{ year_current }}:</span>
      <span class="text">{{ year_total }}</span>
    </div>
    <div class="info">
      <span class="label">Total visitas a mi perfil:</span>
      <span class="text">{{ total }}</span>
    </div>
  </div>
  <div class="info-wrapper2">
    <span class="label">Seleccione año:</span>
    <select id="select-year">
      {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
    <button id="submit-year">Buscar</button>
  </div>
  <div class="info-wrapper2">
    <button id="submit-compare">Comparar entre año actual y año anterior</button>
  </div>
  <div class="info-bottom">
    <button id="modal-visit" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-visits">
      Aumente las visitas a su perfil
    </button>
    <button class="download">Descargar histórico de visitas</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-visits" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aumente las visitas a su perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Como cualquier otro directorio, ya sea impreso o digital, entre mayor cantidad de información y datos se visualicen de un contacto, harás más atractivo e interesante al usuario o paciente, elegirlo a usted para un primer contacto. Ya sea con una llamada o un correo electrónico, el paciente se contactará con el médico que más información relevante le haya brindado en ese primer acercamiento, su perfil del directorio <a href="/directorio-dermatologos">Directorio Dermatólogos</a></p>
        <p>Nuestra principal recomendación es que <a href="/usuario/datos-publicos">Actualice sus datos</a> desde el menú principal.Complete toda la información requerida, especialmente una breve descripción (Perfil) donde le cuente al paciente sus áreas de interés y servicios que presta en su consulta Active y asigne <a href="/usuario/servicios-especialidades">los servicios que presta</a> ya que estadísticamente los pacientes buscan primero esta información, antes de tomar una decisión de a qué especialista consultar</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Entendido, continuar</button>
      </div>
    </div>
  </div>
</div>
